/* Variables css*/
:root {
    /* Colors */
    /* Color mode HSL(hue, saturation, lightness)*/
    /*
        blue    :   hsl(224, 69%, 14%)
        red     :   hsl(0, 100%, 43%)
        gray    :   hsl(0, 0%, 98%)
        green   :   hsl(100, 83%, 41%)
        yellow  :   HSL(52, 100%, 50%)
    */

    --hue: 264;
    --sat: 51%;
    --lig: 29%;

    --brand-color1: hsl(var(--hue), var(--sat), var(--lig));
    --brand-color2: hsl(339, 93%, 59%);
    --brand-color2-10: hsl(334, 45%, 95%);
    --title-color: hsl(0, 7%, 3%);
    --text-color: hsl(234, 14%, 14%);
    --bg-gray: hsl(0, 0%, 95%);
    --bg-gray2: hsl(0, 0%, 87%);
    --container-color: #fff;
    --attention-yellow: hsl(48, 98%, 47%);
    --attention-red: hsl(358, 85%, 52%);
    --attention-green: hsl(128, 93%, 35%);

    /* Font and typography */
    /* .5rem = 8px / 1rem = 16px */
    --body-font: 'Poppins', sans-serif;
    --header: 5.8rem;
    --title: 4rem;
    --subtitle: 2.8rem;
    --subtitle-h4: 2.2rem;
    --body-text: 1.8rem;
    --details: 1.6rem;
    --smallest: 1.2rem;
}

/* Responsive typography */
@media only screen and (orientation: portrait) {
    :root {
        --header: 4.8rem;
        --title: 3.2rem;
        --subtitle: 1.9rem;
        --body-text: 1.6rem;
        --details: 1.2rem;
        --smallest: 1.0rem;
    }
}

*,
*::after,
*::before {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: left;
    border: 0;
    outline-color: #ccc;
    color: var(--first-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--body-font);
    font-display: swap;
}

html {
    max-width: 1920px;
    margin: auto;
    scroll-behavior: smooth;
    direction: ltr;
    overflow-x: hidden;
}

h2 {
    font-size: var(--title);
    font-weight: 8700;
    line-height: 200%;
    color: var(--brand-color1);
}

h3 {
    font-size: var(--subtitle);
    font-weight: 600;
    line-height: 140%;
    color: var(--brand-color1);
}

h4 {
    font-size: var(--subtitle-h4);
    font-weight: 500;
    line-height: 140%;
}

p
{
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.8rem;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}
p,
li {
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.8rem;
}

span,
a,
b {
    font-size: inherit;
    font-weight: 600;
}

img {
    display: block;
    width: 100%;
    height: auto;
    max-width: max-content;
}

button {
    width: 100%;
    max-width: max-content;
    height: 6.4rem;
    padding: 0 4rem;
    color: #ffffff;
    border-radius: 0.8rem;
    font-size: var(--body-text);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--brand-color2);
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color .4s ease;
    transition: box-shadow .4s ease;
    box-shadow: 0px 1.25rem 40px -11px transparent;
}

button:hover {
    box-shadow: 0px 1.25rem 40px -11px var(--brand-color2);
    color: #ffffff;
}

button:disabled {
    background-color: #E4E4E4;
    color: #8A8A8A;
    box-shadow: none;
    pointer-events: none;
}

.container {
    display: grid;
    width: min(100% - 10%, 1416px);
    margin-inline: auto;
}

.icon {
    width: 4rem;
    height: 4rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: var(--brand-color2);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.6rem;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.6rem;
}

.center {
    text-align: center;
    place-content: center;
}

.banner-hero {
    justify-items: center;
}

.s-selos .container {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.s-selos .container .content_selos {
    justify-content: space-between;
    justify-items: center;
}

.s-selos .container .content_selos .selos_item {
    background-color: var(--brand-color2-10);
    width: 100%;
    max-width: 100%;
    padding: 2.4rem 1.6rem;
    border-radius: .8rem;
    align-items: center;
}

.s-selos .container .content_selos .selos_item p {
    font-size: var(--details);
}

.s-tecnologias .container {
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
}

.s-tecnologias .container .cta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-tecnologias .container .content_tecnologias {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.s-tecnologias .container .content_tecnologias .tecnologia_item {
    padding: 3.2rem;
    border-radius: 1.6rem;
    background-color: var(--bg-gray);
}

.s-tecnologias .container .content_tecnologias .tecnologia_item img {
    margin-bottom: 1.6rem;
}

.s-video .container {
    place-items: center;
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
}

.s-video .container iframe {
    width: 100%;
    max-width: 60rem;
    border-radius: .8rem;
    max-height: fit-content;
}

/* depoimentos*/
.s-depoimentos .container {
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
}

.s-depoimentos .container .content_depoimentos {
    align-content: center;
    background: transparent;
    padding: 0;
    display: grid;
    overflow: hidden;
    justify-content: space-around;
}

.s-depoimentos .container .content_depoimentos figure {
    overflow: auto;
    scroll-snap-type: x mandatory;
    border-radius: .8rem;
}

.s-depoimentos .container .content_depoimentos img {
    width: initial;
    scroll-snap-align: start;
    border-radius: .6rem;
    margin-bottom: 15px;
    width: max-content;
    object-fit: contain;
    height: 512px;
    margin-right: .8rem;

    background-color: #8A8A8A;
}

.s-depoimentos .container .content_depoimentos figure {
    align-content: center;
    border: none;
    background-color: transparent;
    display: grid;
    grid: auto / repeat(7, auto);
    grid-gap: 1em;
}

/* resultados*/
.s-resultados .container {
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
}

.s-resultados .container .content_resultados {
    align-content: center;
    background: transparent;
    padding: 0;
    display: grid;
    overflow: hidden;
    justify-content: space-around;
}

.s-resultados .container .content_resultados figure {
    overflow: auto;
    scroll-snap-type: x mandatory;
    border-radius: .8rem;
}

.s-resultados .container .content_resultados img {
    width: initial;
    scroll-snap-align: start;
    border-radius: .6rem;
    margin-bottom: 15px;
    width: max-content;
    object-fit: contain;
    height: 512px;
    margin-right: .8rem;

    background-color: #8A8A8A;
}

.s-resultados .container .content_resultados figure {
    align-content: center;
    border: none;
    background-color: transparent;
    display: grid;
    grid: auto / repeat(7, auto);
    grid-gap: 1em;
}

/* Oferta */
.s-oferta .container .content-oferta {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 2.4rem;
}

.s-oferta .container .content-oferta .card_price_1 {
    width: 32.6rem;
    max-width: 100%;
    border-radius: 1.7rem;
    background-color: var(--brand-color2);
}

.s-oferta .container .content-oferta .card_price_1 span {
    display: block;
    font-size: var(--body-text);
    text-align: center;
    color: #FFFFFF;
    padding: 1.6rem 0;
}

.s-oferta .container .content-oferta .card_price_1 .menu-plano-1 {
    display: flex;
    height: 5.6rem;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2.4rem 0 4rem 0;
}

.s-oferta .container .content-oferta .card_price_1 .menu-plano-1 a {
    display: block;
    text-align: center;
    line-height: 4rem;
    font-size: var(--body-text);
    font-weight: 700;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: var(--brand-color1);
}

.s-oferta .container .content-oferta .card_price_1 .menu-plano-1 a:hover {
    background-color: var(--attention-green);
    color: #FFFFFF;
}

.s-oferta .container .content-oferta .card_price_2 {
    width: 32.6rem;
    max-width: 100%;
    border-radius: 1.7rem;
    background-color: var(--brand-color2);
}
.s-oferta .container .content-oferta .card_price_2 span {
    display: block;
    font-size: var(--body-text);
    text-align: center;
    color: #FFFFFF;
    padding: 1.6rem 0;
}
/*Tabs*/
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 1.6rem;
    justify-content: space-evenly;
    padding-bottom: 1.6rem;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    display: block;
    text-align: center;
    line-height: 4rem;
    font-size: var(--body-text);
    font-weight: 700;
    width: 4rem;
    height: 4rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: var(--brand-color1);
    cursor: pointer;
}
.mytabs label:hover {
    background-color: var(--attention-green);
    color: #fff;
}
.mytabs .tab {
    
    width: 100%;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + .tab {
    display: flex;
    
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 16px;
}

.mytabs input[type='radio']:checked + label + .tab{
    height: 5.6rem;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2.4rem 0 4rem 0;
    gap: 1.6rem;
    border-radius: .8rem;
    background-color: var(--brand-color1);
    padding: 1.6rem;
    display: flex;
}
.mytabs input[type='radio']:checked + label + .tab::before{
    content: '2ª';
    color: #FFFFFF;
    display: block;
    width: auto;
    height: 100%;
    position: relative;
    font-size: var(--body-text);
    align-self: center;

}
.mytabs input[type='radio']:checked + label + .tab a{
    display: block;
    text-align: center;
    line-height: 4rem;
    font-size: var(--body-text);
    font-weight: 700;
    width: 4rem;
    height: 4rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: var(--brand-color2);
}
::-webkit-scrollbar-track-piece {
    background-color: var(--bg-gray);
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: var(--bg-gray2);
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: var(--bg-gray2);
    -webkit-border-radius: 3px;
}

/* Sessão Perguntas frequentes*/
.s-faq .container{
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
    max-width: 96rem;
}
.s-faq h2{
    color: var(--brand-color1);
    text-align: center;
    margin-bottom: 4rem;
}

/*faq*/
summary{
    font-size: var(--subtitle-h4);
    font-weight: 600;
    color: #fff;
    padding: 2.4rem;
    background-color: var(--brand-color1);
    margin-bottom: .8rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color .3s;
}

summary:hover{
    background-color: var(--brand-color2);
    transition: background-color .3s;
}
summary:active{
    background-color: var(--brand-color2);
}
details p{
    padding: .6rem 2.4rem;
}
details p b{
    font-size: inherit;
}
details[open] summary ~ *{
    animation: sweep .5s ease-in-out;
}
@keyframes sweep {
    from{
        opacity: 0; margin-top: -10px;
    }
    to {
        opacity: 1; margin-top: 0;
    }
}

.s-faq .container h2{
    line-height: 8rem;
}
.s-faq .container p{
    padding-bottom: 2rem;
}

/*Footer*/
footer{
    padding-top: 4rem;
    padding-bottom: 6rem;
    background-color: var(--brand-color1);
}
footer .logo{
    width: 25.6rem;
    height: max-content;
    margin: auto;
}
footer p{
    text-align: center;
    color: #fff;
    margin-bottom: 2.4rem;
}
footer nav ul{
    width: 100%;
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 2.4rem;
}
footer nav ul li a{
    color: var(--attention-yellow);
    font-weight: 600;
    font-size: var(--body-text);
}
footer .container p a{
    color: #fff;
    font-weight: 600;
    font-size: inherit;
}

footer .whatsapp svg{
    display: block;
    width: 6.4rem;
    height: 6.4rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--attention-green);
    border-radius: 1.6rem;
    padding: 1.2rem;
}
.icon-whatsapp_line{
    stroke-width: 0;
    stroke: currentColor;
    fill: #fff;
}

/* página de erro 404*/
.s-404{
    display: grid;
    width: 100vw;
    height: 100vh;
    place-content: center;
}
.s-404 .container h2{
    font-size: 15vw;
    text-align: center;
}
.s-404 .container h3{
    text-align: center;
}
.s-404 .container a{
    text-align: center;
}
/*página de politica */
.s-btn .container{
    margin: 3.2rem auto ;
    place-content: center;
}

/* Página de obrigado */
.s-banner-obrigado{
    display: grid;
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;    
    vertical-align: middle;
}
.s-banner-obrigado .container{
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.s-banner-obrigado .content_congratulations h2{
    font-size: clamp(4.5rem, 8vw, 6rem);
    text-transform: uppercase;

}
.s-banner-obrigado .content_congratulations h3{

    font-weight: 500;
}
.s-banner-obrigado .content_congratulations p{

    font-weight: 400;
}
.s-banner-obrigado .content_image{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}
.s-banner-obrigado .content_image img{
    max-height: 384px;
    object-fit: contain;
    max-width: max-content;
}
.s-obrigado .container a button{
    margin: 3.2rem auto ;
    place-items: center;
}
.subtitle{
    margin-bottom: 4rem;
}

/* Sessão Famosas*/
.s-famosas .container {
    place-items: center;
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
    background-color: var(--brand-color2);
}
.s-famosas .container h2,
.s-famosas .container h3,
.s-famosas .container h4,
.s-famosas .container p {
    color: #ffffff;
}
.s-famosas .container .video-item img {
    max-width: 25.6rem;
    aspect-ratio: 1 / 1;
    margin-bottom: 2.4rem;
}

.checkboxmodal{
    display: none;
}

#modalexemplo:checked + .modal {
    display: flex;
}
#modalexemplo:checked:not(:checked) iframe{
    display: ;
}

.modal{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    color: #fff;
    font-size: x-large;
}

.modal .fecharmodal {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
    aspect-ratio: 1 / 1;
    text-align: center;
    border-radius: .4rem;
    font-weight: 600;
    background-color: red;
}

.modal .fecharmodal:hover{
    cursor: pointer;    
}

.modal .conteudomodal{
    width: 100%;
    height: auto;
    max-width: max-content;
    max-height: max-content;
    background-color: transparent;
}
.modal .conteudomodal iframe{
    max-width: 90vw;
    max-height: fit-content ;
}